@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: 9 9 11;
      --color-secondary: 250 250 250;
      --color-border: 24 24 26;
      --color-hover: 226 226 226;
      
      /* ... */
    }
    :root[data-theme= "light"]{
      --color-primary: 250 250 250;
      --color-secondary: 9 9 11;
    }
  }

  @layer components {
    .editorJs h1 {
      @apply text-3xl;
      @apply font-bold;
    }
    .editorJs h2 {
      @apply text-2xl;
      @apply font-bold;
    }
    .editorJs h3 {
      @apply text-xl;
      @apply font-bold;
    }
    
    .editorJs a {
      @apply text-blue-600 underline;
    }

    .editorJs blockquote {
      @apply border-l-2 border-gray-400 pl-5 font-serif;
    }
  }