@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Inter", sans-serif;
}

@layer base {
    :root {
      --color-primary: 9 9 11;
      --color-secondary: 250 250 250;
      --color-border: 24 24 26;
      --color-hover: 226 226 226;
      
      /* ... */
    }
    :root[data-theme= "light"]{
      --color-primary: 250 250 250;
      --color-secondary: 9 9 11;
    }
  }

  @layer components {
    .editorJs h1 {
      @apply text-3xl mt-8 mb-3;
      @apply font-bold;
    }
    .editorJs h2 {
      @apply text-2xl mt-4 mb-2;
      @apply font-bold;
    }
    .editorJs h3 {
      @apply text-xl mt-4 mb-2;
      @apply font-bold;
    }
    
    .editorJs a {
      @apply text-green-600 underline;
    }

    .editorJs blockquote {
      @apply border-l-2 m-5 border-gray-400 pl-5 font-serif;
    }
    .editorJs pre {
      @apply  bg-gray-900/45 rounded-lg py-3 px-4 font-mono;
    }
  }